<button (click)="update()">Update</button>

<!-- <div style="height: 320px;"></div> -->

<!-- <embedded-media video='CrypticMushyBaboonSoonerLater' provider="twitch" query='{ "parent": "localhost" }' attributes='{ "width": "560px", "height": "315px"}'></embedded-media> -->

<embedded-media video='802089173' provider="twitch" query='{ "parent": "localhost" }' attributes='{ "width": "560px", "height": "315px"}'></embedded-media>

<embedded-media [video]='youtubeVideoId' provider='youtube' query='{ "portrait": 0, "color": "fdfdfd" }' attributes='{ "width": 560, "height": 315 }'></embedded-media>

<embedded-media playlist='PLpRjkOHBe_TgmznCle__jWDhoV4aFgCjw' query='{ "portrait": 0, "color": "fdfdfd" }' provider='youtube'></embedded-media>

<!-- add responsive ratio flag,  if set (i.e 16:9 == 9/16 == 56.25%) - ignore width height and do that 
https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/-->